body{
    margin-left: 5em;
}
#text{
    margin: auto;
    margin-top: 10em;
}
#avatar{
    float: left;
}

#wershower {
    height: 100%;
    width: 100%;
}

#marx {
    float: right;
}

#marximg{
    height: 10%;
    width: 10%;
}

#header {
position: absolute;
top: -100px;
left: 0px;
width: 750px;

}

#header:hover {
margin-top:100px;

}
#header:hover .navknopf
{
display:none;

}
.navknopf
{
  display: inline-block;
  padding: .4em;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid darkblue;
  border-radius: 10px;
  box-shadow: 0 5px 10px white inset;
  color: #fff;
  background-color: #a8c072;
  margin-top:5px;
}

nav ul {
  text-align: center;
  /* weitere Angaben */
}

nav li {
  display: inline-block;
  /* weitere Angaben */
}

nav a {
  display: block;
  padding: .4em;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid darkblue;
  border-radius: 10px;
  box-shadow: 0 5px 10px white inset;
  color: #fff;
  background-color: #a8c072;
  transition: all .25s ease-in;
}

nav li[aria-current] a {
  background-color: firebrick;
  color: gold;
}

nav a:focus,
nav a:hover,
nav li[aria-current] a:focus,
nav li[aria-current] a:hover {
  color: darkblue;
  background-color: gold;
}
