body {
font-family: 'Roboto', sans-serif;
}

ul, ol {
	margin: 5px 0 22px 19px;
	padding-left: 0;
	list-style-image:url("li.gif");
	text-align:left;
}
li {
	margin-bottom: 3px;/* padding-left:10px; */
}


#wrapper {
max-width: 750px;
padding: 3% 3%;
-webkit-box-shadow: 15px 9px 5px -4px rgba(0,0,0,0.45);
-moz-box-shadow: 15px 9px 5px -4px rgba(0,0,0,0.45);
box-shadow: 15px 9px 5px -4px rgba(0,0,0,0.45);


}
#left1
{
 float:left;
 width:11%;

}
#left2
{
display:inline-block;
 float:right;
 width:40%;
 border:1px solid black;
}

#clear {
	clear:both;
}

#flex {
display:flex;
align-items:flex-start;
text-align:center;
margin-left:20%;
}

.center {
text-align: center;

}

#header {
position: absolute;
top: -100px;
left: 0px;
width: 750px;

}

#header:hover {
margin-top:100px;

}
#header:hover .navknopf
{
display:none;

}
.navknopf
{
  display: inline-block;
  padding: .4em;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid darkblue;
  border-radius: 10px;
  box-shadow: 0 5px 10px white inset;
  color: #fff;
  background-color: #a8c072;
  margin-top:5px;
}

nav ul {
  text-align: center;
  /* weitere Angaben */
}

nav li {
  display: inline-block;
  /* weitere Angaben */
}

nav a {
  display: block;
  padding: .4em;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid darkblue;
  border-radius: 10px;
  box-shadow: 0 5px 10px white inset;
  color: #fff;
  background-color: #a8c072;
  transition: all .25s ease-in;
}

nav li[aria-current] a {
  background-color: firebrick;
  color: gold;
}

nav a:focus,
nav a:hover,
nav li[aria-current] a:focus,
nav li[aria-current] a:hover {
  color: darkblue;
  background-color: gold;
}
